{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Edit Campaign</h2>
    <div class="card shadow-sm border-light">
        <div class="card-body">
            <form method="post">
                <div class="form-group mb-3">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{ campaign.name }}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="3" required>{{ campaign.description }}</textarea>
                </div>
                <div class="form-group mb-3">
                    <label for="start_date">Start Date</label>
                    <input type="date" class="form-control" id="start_date" name="start_date" value="{{ campaign.start_date }}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="end_date">End Date</label>
                    <input type="date" class="form-control" id="end_date" name="end_date" value="{{ campaign.end_date }}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="budget">Budget ₹</label>
                    <input type="number" step="0.01" class="form-control" id="budget" name="budget" value="{{ campaign.budget }}" required>
                </div>
                <div class="form-group mb-3">
                    <label for="visibility">Visibility</label>
                    <select class="form-control" id="visibility" name="visibility" required>
                        <option value="public" {% if campaign.visibility == 'public' %}selected{% endif %}>Public</option>
                        <option value="private" {% if campaign.visibility == 'private' %}selected{% endif %}>Private</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="goals">Goals</label>
                    <textarea class="form-control" id="goals" name="goals" rows="3" required>{{ campaign.goals }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">Update Campaign</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
